<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8"> 
    <link rel="stylesheet" href="./layout.css">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    <div class="heading1">  
      <h1> HELLO , WORLD!</h1> 
     <p> Lorem ipsum dolor sit, amet consectetur adipisicing elit. Nesciunt magnam voluptatem ea maxime eos perspiciatis quia eveniet, inventore amet!</p> 
      <button class="button"> LEARN MORE >></button>
    </div>
 


<div class="main"> 
    <div class="heading2">  
      <h1> HEADING</h1> 
     <p> Lorem ipsum dolor sit, amet consectetu maxime dolorem, molestiae illo! Lorem ipsum dolor sit amet, consectetur adipisicing elit. Error quis eius porro dolor minus? Culpa nobis provident quam, repellendus magnam eos deserunt laboriosam iure, alias animi ea atque. Quis ipsam expedita culpa corrupti enim explicabo id tenetur iure, nemo similique earum soluta, maxime aliquam nulla natus voluptas. Similique, eum cumque.</p> 
      <button class="button2"> view details>></button>
    </div> 


    <div class="heading2">  
      <h1> HEADING</h1> 
     <p> Lorem ipsum dolor sit,  Lorem ipsum dolor sit amet consectetur, adipisicing elit. Voluptate quo, officiis doloremque consectetur voluptatum cumque officia magnam vel sunt nulla. Beatae necessitatibus officiis iure minima facere, perferendis, repudiandae modi obcaecati vitae fugiat blanditiis consequatur animi suscipit fugit atque? Consectetur magnam sit modi est libero, nisi soluta! Minus quibusdam repellat quo!amet consipiut, itaque architecto quibusdam. Commodi, consequuntur debitis vitae ducimus nemo asperiores ullam mollitia maxime dolorem, molestiae illo!</p> 
      <button class="button2"> view details>></button> 
 </div>

      <div class="heading2">  
      <h1> HEADING</h1> 
     <p> Lorem ipsum dolor  Lorem ipsum dolor sit amet consectetur adipisicing elit. Officiis nulla voluptatum eaque, quibusdam fugit sed reprehenderit ex, voluptatibus adipisci odit dolor rerum eum optio natus soluta harum laborum dignissimos, est autem labore pariatur? Culpa nihil facilis voluptatum doloremque? Harum similique aliquid consectetur quas dicta delectus repellat non mollitia voluptatum sed!sit, amet consecte nostrum aut, itaque architecto quibusdam. Commodi, consequuntur debitis vitae ducimus nemo asperiores ullam mollitia maxime dolorem, molestiae illo!</p> 
      <button class="button2"> view details>></button>
   
    </div>
</div>

</body>
</html>