.heading1{
    background: grey; 
    padding: 100px;
}
.button{
    background: blue; 
padding: 10px; 
color: white;
} 
.main{
     display: flex;
 
}
body{
     margin-top: 100px; 
   margin-left: 100px;
}
.button2{
    background: rgb(163, 152, 152); 

} 
.heading2{
   
  background: #eee;
  padding: 50px;
   
}